---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if post.excerpt %}
          <div class="post-excerpt">
            {{ post.excerpt }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
